{% for vl in vlans.vlan %}
vlan {{ vl.number }}
vlan {{ vl.name }}
interface vlan {{ vl.number }}
 ip address {{ vl.svi }}
 exit
{% endfor %}
{% for int in vlans.interfaces %}
{% if int.mode == "access" %}
switchport mode access
switch access vlan {{ int.vlan }}
{% else %}
switchport trunk encapsulation dot1q
switchport mode trunk
{% endif %}
{% endfor %}